services:
  backend:
    image: todo-backend
    pull_policy: never
    container_name: todo-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: runner
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb
    networks:
      - todo-network
  
  frontend:
    image: todo-frontend
    pull_policy: never
    container_name: todo-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    networks:
      - todo-network

  mongodb:
    image: mongo:7.0.12
    container_name: todo-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    env_file:
      - ./mongodb/.env
    networks:
      - todo-network

networks:
  todo-network:
    driver: bridge

volumes:
  mongodb-data: